/debian/monitoring-plugins-abraflexi.substvars
/debian/monitoring-plugins-abraflexi.debhelper.log
/debian/debhelper-build-stamp
/vendor/
/.vagrant/
/debian/version
/debian/revision
/debian/lastversion
/composer.lock
/debian/monitoring-plugins-abraflexi/
./env
/nbproject/private/
/debian/.debhelper/
