Source: monitoring-plugins-abraflexi
Build-Depends: debhelper (>= 7.0.50~),
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/monitoring-plugins-abraflexi

Package: monitoring-plugins-abraflexi
Depends: ${misc:Depends},php-spojenet-abraflexi,php-cli,composer
Suggests: php-abraflexi-config, nagios-nrpe-server
Architecture: all
Section: web
Priority: optional
Description: Nagios/Icinga plugins for Abra Flexi
 Nagios/Icinga plugins for monitoring Czech Economic system Abra Flexi
