#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/monitoring-plugins-abraflexi/g' debian/monitoring-plugins-abraflexi/usr/lib/monitoring-plugins-abraflexi/*.php
